<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fairy</title>
</head>
<body>
    <h1>Fairy - Página de Inicio</h1>

    <button onclick="mostrar('Básico')">Básico</button>
    <button onclick="mostrar('Operadores')">Operadores</button>
    <button onclick="mostrar('Ticket')">Ticket</button>

    <hr>

    <form action="/save" method="post">

    <input type="hidden" name="cid" value="{{ cid }}">
    <div id="Básico">
        <h3>Básico</h3>
        <p>prefix: </p>
        <input type="text" name="prefix" value="{{ prefix }}" required>
        <p>log: </p>
        <input type="text" name="log" value="{{ log }}">
    </div>

    <div id="Operadores" style="display:none">
        <h3>Operadores</h3>
        <p>id: </p>
        <input type="text" name="op_id" value="{{ op_id }}" required>
        <p>name: </p>
        <input type="text" name="op_name" value="{{ op_name }}" required>
    </div>

    <div id="Ticket" style="display:none">
        <h3>Ticket</h3>
        <p>general: </p>
        <input type="text" name="general" value="{{ general }}" required>
        <p>category: </p>
        <input type="text" name="category" value="{{ category }}" required>
        <p>member: </p>
        <input type="text" name="member" value="{{ member }}" required>
        <p>message: </p>
        <input type="text" name="message" value="{{ message }}" required>
    </div>
    <button type="submit">Guardar</button>

    </form>

    <script>
        function mostrar(id) {
            document.getElementById('Básico').style.display = 'none';
            document.getElementById('Operadores').style.display = 'none';
            document.getElementById('Ticket').style.display = 'none';
            
            document.getElementById(id).style.display = 'block';
        }
    </script>
    
    <p style="color: red;">{{ cid }}</p>
</body>
</html>